{{> sampleheader }}
		<h2>3. Chords by Root Note</h2>
		<p>Just another way to view the chord data.</p>
                <p>

               <form>
                  <fieldset>
                     <legend>Options</legend>
                <label for="rootnote_rootnote">
                Root Note</label>
		<select id="rootnote_rootnote" onchange="change_rootnote();">
			<option selected="selected">C</option>
			<option>C#</option>
			<option>D</option>
			<option>D#</option>
			<option>E</option>
			<option>F</option>
			<option>F#</option>
			<option>G</option>
			<option>G#</option>
			<option>A</option>
			<option>A#</option>
			<option>B</option>
		</select>
		</fieldset>
		<fieldset>
			<legend>Instrument Options</legend>
                <label for="rootnote_lefty">
                   Lefty?</label>
		<input type="checkbox" id="rootnote_lefty" onchange="sess_save('lefty','rootnote_lefty');change_rootnote();">
                <label for="rootnote_tuning">
                   Instrument</label>
		<select id="rootnote_tuning" onchange="sess_save('instrument','rootnote_tuning');change_rootnote();">
			<option value="standard">Guitar</option>
			<option value="ukulele">Ukulele</option>
		</select>
                  </fieldset>
               </form>
		<div id="rootnote"></div>
                <div style='clear:both'></div>

         </div>
      </div>
   </div>

<script type="text/javascript">//<![CDATA[
window.onload= function(){
   sess_load('lefty', 'rootnote_lefty');
   sess_load('instrument', 'rootnote_tuning');
   change_rootnote();
};
var do_rootnote= function(rootnote,lefty,tuning) {
   var size= 3;
   var el= document.getElementById('rootnote');
   var children= el.childNodes;
   var definitions=[];
   for (var family in ChordialJS.data.chords[tuning]) {
      definitions.push({
            note: rootnote, size : size, lefty: lefty, tuning: tuning, family: family
            });
      ChordialJS.renderChords(el,definitions);
   }
}

var change_rootnote= function() {
	var rootnote= document.getElementById('rootnote_rootnote').value;
	var lefty= document.getElementById('rootnote_lefty').checked;
	var tuning= document.getElementById('rootnote_tuning').value;
	do_rootnote(rootnote,lefty,tuning);
};

//]]>
</script>
